<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"/>
  <style>
    ion-item.side_tabs.item:hover {
  --ion-background-color: #a179d5 !important;
  border-radius: 4px;
    }
    ion-item.active.item:hover {
  --ion-background-color: #b88eed !important;
  border-radius: 4px;
    }
    ion-item.side_tabs{
        --ion-background-color: #8f15f4;
        border-radius: 4px;
        margin-top: 4px;
    }
    ion-item.active
    {
    --ion-background-color: #b88eed;
        border-radius: 4px; 
    }
    ion-list.side_list
    {
        --ion-background-color: #8f15f4;
    }
    .side_icons
    {
        font-size: 25px; color: white; margin-top: 15px
    }
    .side_label
    {
        position: relative; left: 15px;bottom: 5px; color: white; font-size: 14px
    }
    a.navlink:hover
    {
        color: black;
    }
    a.navlink
    {
        color: grey;
    }

  </style>
</head>
<body>
  <ion-app>
      <ion-content>
      
      <ion-grid class="ion-no-padding">
        <ion-row  style="height: 1000px">
            <ion-col class="ion-no-padding" size='2.035' style="background-color: #8f15f4;">
                <ion-row style="height: 63px">
                    <ion-col style="border-bottom: 1px solid rgba(255, 255, 255, 0.2)">
                        <label style="position: relative; left: 45px; top: 20px; weight: 500; font-weight: 400; font-size: 18px; color: white;">MESS DASHBOARD <%= session[:id] %></label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list class="side_list" class="ion-no-padding" style="margin-top: 20px; margin-left: 15px; margin-right: 15px">
                            <ion-item lines='none' class="side_tabs" onClick="viewOption(event,'profile')" id="defaultOpen">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="person-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">PROFILE</label>
                                    </a>
                                </div>
                            </ion-item>
                            <ion-item lines='none' class="side_tabs" onClick="viewOption(event,'student_list')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="list-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">STUDENT LIST</label>
                                    </a>
                                </div>
                            </ion-item>
                            <ion-item lines='none' class="side_tabs" onClick="viewOption(event,'staff_list')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="people-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">MESS STAFF LIST</label>
                                    </a>
                                </div>
                            </ion-item>
                            <ion-item lines='none' class="side_tabs" onClick="viewOption(event,'messcut')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="home-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">MESS CUT</label>
                                    </a>
                                </div>
                            </ion-item>
                            <ion-item lines='none' class="side_tabs"  onClick="viewOption(event,'extra')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="newspaper-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">ADD EXTRA</label>
                                    </a>
                                </div>
                            </ion-item>
                            <ion-item lines='none' class="side_tabs"  onClick="viewOption(event,'fee')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="newspaper-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">CHECK MESS FEE</label>
                                    </a>
                                </div>
                            </ion-item>

                        </ion-list>
                
                    </ion-col>
                </ion-row>

            </ion-col>
            <ion-col>
                <ion-row style="height: 63px; border-bottom: 1px solid rgba(0, 0, 0, 0.2)">
                    <ion-col size='3'>
                        <label style="position: relative; left: 45px; top: 20px; weight: 500; font-weight: 400; font-size: 19px; color: grey">MESS MANAGEMENT</label>
                    </ion-col>
                    <ion-col offset='6' size='3'>
                        <a style="color: grey; position: relative; left: 45px; top: 20px; font-size: 16px;">Change Password</a>
                        <a class="navlink" href="/accounts/logout" style="text-decoration:none; position: relative; left: 75px; top: 20px; font-size: 16px;">Logout</a>
                    </ion-col>
                </ion-row>
                <ion-row style="height: 1000px">
                    <ion-col>
                        <div>
                    <div id="profile" class="tabcontent" style="display:none;">
                    <h3>Profile</h3>
                    <p>Profile Data Goes Here</p>
                    </div>

                    <div id="student_list" class="tabcontent" style="display:none;">
                        <ion-grid>
                            <ion-row>
                                <ion-col size=5 offset=3.5>
                                    <h3 style="text-align: center">Student List</h3><br>
                                    <div id="search_section">
                                    <ion-row><ion-col size=6>
                                    <ion-searchbar placeholder="Type Name" id="nameSearchBar" onInput="filterStudentsByName()"></ion-searchbar></ion-col>
                                    <ion-col size=6>
                                    <ion-searchbar placeholder="Type Roll No" id="rollSearchBar" onInput="filterStudentsByRollNo()"></ion-searchbar></ion-col>
                                    </ion-row>
                                    <div id="list"><ion-spinner></ion-spinner></div></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                    <div id="staff_list" class="tabcontent" style="display:none;">
                    <h3>Staff List</h3>
                    <p>List of all staff goes here</p> 
                    </div>

                    <div id="messcut" class="tabcontent" style="display:none;">
                    <h3>Mess Cut</h3>
                    <p>Mess cut data goes here</p>
                    </div>
                    <div id="extra" class="tabcontent" style="display:none;">
                    <h3>Extras</h3>
                    <p>Extra data goes here</p>
                    </div>
                    <div id="fee" class="tabcontent" style="display:none;">
                    <h3>Fee</h3>
                    <p>Updates about mess fee happens here</p>
                    </div>
                </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
</body>
<script>
function viewOption(evt, option) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("side_tabs");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("active", "");
  }
  evt.currentTarget.className += " active";
  document.getElementById(option).style.display = "block";  
  if (option=="student_list")
  {
    getStudents();
  }
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();


function getStudents()
{
    var obj, dbParam, xmlhttp, myObj, x, txt = "";
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        myObj = JSON.parse(this.responseText);
        if(myObj.length==0)
        {
            txt+="<p style='text-align: center;'>There are no Students in this mess currently</p>"
            document.getElementById("search_section").innerHTML = txt;
        }
        else
        {
        txt += "<p id='noMatch' style='text-align:center;display:none;'>No matching students</p><ion-card id='students_card'><ion-list>"
        for (x in myObj) {
            txt += "<ion-item class='student_item' lines='none' detail='true' href='/accounts/login'><ion-icon name='person' style='color: #8f15f4;'></ion-icon><ion-grid><ion-row><ion-col size='6'><label class='student_name' style='padding-left: 15px; font-size: 17px; font-weight: 500;'>" + myObj[x].name + "</label></ion-col><ion-col size='4' offset='2'><label class='student_roll_no'>"+myObj[x].rollno+"</label></ion-col></ion-row></ion-item>";
        }
    txt += "</ion-list></ion-card></ion-grid>";  
    document.getElementById("list").innerHTML = txt;
}
  }
};
xmlhttp.open("GET", "/studentdata", true);
xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xmlhttp.send();

}


function filterStudentsByName() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("nameSearchBar");
    filter = input.value.toUpperCase();
    names = document.getElementsByClassName("student_name");
    items = document.getElementsByClassName("student_item");
    var count=0
    for (i = 0; i < names.length; i++) {
        txtValue = names[i].textContent || names[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            items[i].style.display = "";
            document.getElementById("students_card").style.display="";
            document.getElementById("noMatch").style.display="none";
        } else {
            count+=1
            items[i].style.display = "none";
        }
    }
    if(count==names.length)
    {
        document.getElementById("noMatch").style.display="";
        document.getElementById("students_card").style.display="none";
    }
}

function filterStudentsByRollNo() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("rollSearchBar");
    filter = input.value.toUpperCase();
    rolls = document.getElementsByClassName("student_roll_no");
    items = document.getElementsByClassName("student_item");
    var count=0
    for (i = 0; i < rolls.length; i++) {
        txtValue = rolls[i].textContent || rolls[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            items[i].style.display = "";
            document.getElementById("students_card").style.display="";
            document.getElementById("noMatch").style.display="none";
        } else {
            count+=1
            items[i].style.display = "none";
        }
    }
    if(count==names.length)
    {
        document.getElementById("noMatch").style.display="";
        document.getElementById("students_card").style.display="none";
    }
}





</script>
</html>
