<h1 align='center'>Just Testing!</h1>
<h3 align='center'>The students in the database are:</h3><br>
<% @students.each do |student| %>
<p align='center'><strong>Name:</strong> <%= student.name%> <strong>Roll No:</strong><%= student.rollno%></p>
<% end %>